 
 body {
  background-image: url("images/AdobeStock_mountaind.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  max-width: 100%;
 

  
 }
  
 